@font-face {
  font-family: 'Quicksand';
  src: url('../assets/fonts/quicksand.ttf');
}
@font-face {
  font-family: 'Lexend';
  src: url('../assets/fonts/lexend.ttf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Quicksand';
  outline: none;
  -webkit-user-drag: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lexend';
  color: rgba(50, 50, 50);
}
body {
  padding: 5px;
  overflow: hidden;
  height: 100vh;
}
#root {
  height: 100%;
}
body.dark-layout h1,
body.dark-layout h2,
body.dark-layout h3,
body.dark-layout h4,
body.dark-layout h5,
body.dark-layout h6 {
  color: rgba(240, 240, 240);
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(30, 30, 30, 0.07);
  border-radius: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(30, 30, 30, 0.15);
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(30, 30, 30, 0.25);
}
body.dark-layout ::-webkit-scrollbar-track {
  background: rgba(240, 240, 240, 0.07);
  border-radius: 7px;
}

/* Handle */
body.dark-layout ::-webkit-scrollbar-thumb {
  background: rgba(240, 240, 240, 0.15);
  border-radius: 7px;
}

/* Handle on hover */
body.dark-layout ::-webkit-scrollbar-thumb:hover {
  background: rgba(240, 240, 240, 0.25);
}

/* ============== */
/* APP COMPONENTS */
/* ============== */
.app-container {
  background-color: rgba(240, 240, 240);
  height: 100%;
  width: 100%;
  border-radius: 15px;
  padding: 90px 20px 20px 20px;
  box-shadow: 0 0 5px 1px rgba(30, 30, 30, 0.25);
}
body.dark-layout .app-container {
  background-color: rgba(30, 30, 30);
  box-shadow: 0 0 5px 1px rgba(30, 30, 30, 0.75);
}
.app-navbar {
  position: fixed;
  z-index: 100;
  width: calc(100% - 10px);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(230, 230, 230);
  border-radius: 15px 15px 0 0;
  -webkit-app-region: drag;
}
body.dark-layout .app-navbar {
  background-color: rgba(240, 240, 240, 0.07);
}
.app-modal {
  position: absolute;
  z-index: -1;
  height: calc(100vh - 10px);
  width: calc(100vw - 10px);
  top: 0;
  left: 0;
  background-color: rgba(30, 30, 30, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  animation-name: fade-in;
  animation-duration: 200ms;
  opacity: 1;
}
.app-modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(240, 240, 240);
  min-width: 350px;
  padding: 15px 20px;
  border-radius: 15px;
  box-shadow: 0 0 15px 1px rgba(30, 30, 30, 0.1);
  display: flex;
  flex-direction: column;
  gap: 5px;
}
body.dark-layout .app-modal {
  background-color: rgba(20, 20, 20, 0.7);
}
body.dark-layout .app-modal-content {
  background-color: rgba(40, 40, 40);
  box-shadow: 0 0 15px 1px rgba(30, 30, 30, 0.025);
}
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  isolation: isolate;
  z-index: 1500;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
}
#overlay #tooltip {
  height: 100%;
  width: 100%;
}
.tooltip {
  display: block;
  isolation: isolate;
  position: absolute;
  background-color: rgba(255, 255, 255);
  filter: drop-shadow(0 5px 5px rgba(30, 30, 30, 0.15));
  padding: 5px 10px;
  border-radius: 10px;
  transform: translateX(-50%) translateY(calc(-100% - 10px));
  animation-name: tooltip;
  animation-duration: 350ms;
  font-weight: bolder;
  font-size: 0.86rem;
  pointer-events: none;
  /* white-space: ; */
  color: rgba(30, 30, 30, 0.7);
  max-width: 450px;
  width: max-content;
  text-align: center;
}
.tooltip::after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%) rotateZ(45deg);
  z-index: -1;
  background-color: inherit;
}
body.dark-layout .tooltip {
  background-color: rgba(100, 100, 100);
  filter: drop-shadow(0 5px 5px rgba(30, 30, 30, 0.15));
  color: rgba(240, 240, 240, 0.75);
}
@keyframes tooltip {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(calc(-100% - 3px));
  }
  90% {
    transform: translateX(-50%) translateY(calc(-100% - 10px));
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(calc(-100% - 10px));
  }
}

/* ======== */
/* Stylings */
/* ======== */
.icon {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgba(30, 30, 30, 0.1);
  cursor: pointer;
  transition: background-color 150ms;
  -webkit-app-region: no-drag;
}
.icon svg {
  color: rgba(30, 30, 30, 0.25);
  transition: color 150ms;
}
.icon:hover {
  background-color: rgba(30, 30, 30, 0.2);
}
.icon:hover svg {
  color: rgba(30, 30, 30, 0.75);
}
body.dark-layout .icon {
  background-color: rgba(240, 240, 240, 0.1);
}
body.dark-layout .icon svg {
  color: rgba(240, 240, 240, 0.5);
}
body.dark-layout .icon:hover {
  background-color: rgba(240, 240, 240, 0.2);
}
body.dark-layout .icon:hover svg {
  color: rgba(240, 240, 240, 0.75);
}
.icon.icon-theme {
  gap: 5px;
  width: fit-content;
  padding-left: 10px;
  padding-right: 12px;
}
.icon.icon-theme span {
  font-size: 0.8rem;
  font-weight: bold;
  color: rgba(30, 30, 30, 0.5);
}
body.dark-layout .icon.icon-theme span {
  color: rgba(240, 240, 240, 0.5);
}
.icon.icon-status {
  max-width: 0;
  width: max-content;
  overflow: hidden;
  background-color: rgb(0, 255, 85);
  font-weight: bold;
  gap: 5px;
  cursor: default;
}
.icon.icon-status.icon-status-primary {
  background-color: rgba(0, 117, 255);
}
.icon.icon-status.icon-status-danger {
  background-color: rgba(255, 20, 50);
}
.icon.icon-status.icon-status-primary span,
.icon.icon-status.icon-status-primary svg,
.icon.icon-status.icon-status-danger span,
.icon.icon-status.icon-status-danger svg {
  color: rgba(240, 240, 240) !important;
}
.icon.icon-status.icon-start {
  animation-name: icon-status;
  animation-duration: 3000ms;
}
.icon.icon-status span {
  color: rgba(30, 30, 30) !important;
  white-space: nowrap;
}
.icon.icon-status svg {
  color: rgba(30, 30, 30) !important;
}
.icon.icon-status.icon-start span,
.icon.icon-status.icon-start svg {
  animation-name: icon-status-text;
  animation-duration: 3000ms;
}
body.dark-layout .icon.icon-status {
  background-color: rgba(0, 255, 85);
}
body.dark-layout .icon.icon-status.icon-status-primary {
  background-color: rgba(0, 117, 255);
}
body.dark-layout .icon.icon-status.icon-status-danger {
  background-color: rgba(255, 20, 50);
}
@keyframes icon-status {
  0% {
    max-width: 0;
  }
  5% {
    padding-left: 10px;
    padding-right: 10px;
  }
  25% {
    max-width: 350px;
  }
  75% {
    max-width: 350px;
    padding-left: 10px;
    padding-right: 10px;
  }
  90% {
    max-width: 0;
    padding-left: 0;
    padding-right: 0;
  }
  100% {
    max-width: 0;
  }
}
@keyframes icon-status-text {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.span-text {
  font-size: 0.86rem;
  color: rgba(30, 30, 30, 0.7);
}
body.dark-layout .span-text {
  color: rgba(240, 240, 240, 0.5);
}
.span-pill {
  display: block;
  background-color: rgba(0, 117, 255);
  color: white;
  font-size: 0.8rem;
  padding: 5px 10px;
  border-radius: 15px;
  font-weight: bold;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px 15px;
  border-radius: 7px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 150ms, color 150ms, padding 150ms, width 150ms;
  flex-shrink: 0;
  width: max-content;
  max-width: 550px;
}
.button-confirm {
  color: white;
  background-color: rgba(0, 117, 255);
}
.button-confirm.button-confirm-line {
  color: rgba(0, 117, 255);
  background-color: rgba(0, 117, 255, 0.25);
  box-shadow: 0 0 0 1px rgba(0, 117, 255);
}
.button-confirm:hover {
  background-color: rgba(0, 87, 215);
  color: white;
}
.button-confirm.button-confirm-alt {
  background-color: rgb(0, 255, 85);
  color: rgba(30, 30, 30);
}
.button-confirm.button-confirm-alt:hover {
  background-color: rgb(0, 205, 5);
  color: rgba(30, 30, 30);
}
.button-confirm-trans {
  color: rgba(0, 117, 255);
  background-color: rgba(0, 117, 255, 0.25);
}
.button-confirm-trans:hover {
  color: white;
  background-color: rgba(0, 87, 215);
}
body.dark-layout .button-confirm-trans {
  color: rgba(30, 147, 255);
}
body.dark-layout .button-confirm-trans:hover {
  color: white;
}
.button-grey {
  color: rgba(30, 30, 30, 0.5);
}
.button-grey:hover {
  background-color: rgba(30, 30, 30, 0.05);
}
body.dark-layout .button-grey {
  color: rgba(240, 240, 240, 0.5);
}
body.dark-layout .button-grey:hover {
  background-color: rgba(240, 240, 240, 0.05);
}
.button-grey-alt {
  color: rgba(30, 30, 30, 0.5);
  background-color: rgba(30, 30, 30, 0.07);
}
.button-grey-alt:hover {
  background-color: rgba(30, 30, 30, 0.1);
}
body.dark-layout .button-grey-alt {
  color: rgba(240, 240, 240, 0.5);
  background-color: rgba(240, 240, 240, 0.07);
}
body.dark-layout .button-grey-alt:hover {
  background-color: rgba(240, 240, 240, 0.1);
}
.button-hide {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 0;
  padding-right: 0;
}
.button-primary {
  color: white;
  background-color: rgba(0, 117, 255);
}
.button-primary:hover {
  background-color: rgba(0, 87, 215);
  color: white;
}
.button-success {
  background-color: rgb(0, 255, 85);
  color: rgba(30, 30, 30);
}
.button-success:hover {
  background-color: rgb(0, 205, 5);
  color: rgba(30, 30, 30);
}
.button-danger {
  background-color: rgba(255, 20, 50);
  color: white;
}
.button-danger:hover {
  background-color: rgba(200, 10, 40);
}

.container {
  background-color: rgba(30, 30, 30, 0.05);
  padding: 15px;
  border-radius: 7px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
body.dark-layout .container {
  background-color: rgba(240, 240, 240, 0.07);
}
/* .container-content {
  min-height: 250px;
} */

.in-app-modal {
  z-index: 10;
  top: 5px;
  left: 5px;
}
.in-app-modal .app-modal-content {
  width: 550px;
}

.input {
  border: none;
  padding: 10px 15px;
  border-radius: 7px;
  width: 100%;
  font-weight: bold;
  background-color: rgba(240, 240, 240);
  transition: box-shadow 150ms;
  resize: none;
}
textarea.input {
  min-height: 100px;
}
.input:hover {
  box-shadow: 0 0 0 2px rgba(0, 117, 255, 0.25) inset;
}
.input:focus {
  box-shadow: 0 0 0 2px rgba(0, 117, 255) inset;
}
body.dark-layout .input {
  background-color: rgba(30, 30, 30, 0.5);
  color: rgba(240, 240, 240);
}
.input-alt {
  position: relative;
  width: 100%;
  height: 100%;
}
.input-alt .input {
  background-color: rgba(230, 230, 230);
  height: 100%;
  padding-left: 40px;
}
body.dark-layout .input-alt .input {
  background-color: rgba(45, 45, 45);
}
.input-alt svg {
  position: absolute;
  z-index: 1;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(30, 30, 30, 0.5);
}
body.dark-layout .input-alt svg {
  color: rgba(240, 240, 240, 0.5);
}
.select-input {
  position: relative;
  cursor: pointer;
}
.select-input input {
  pointer-events: none;
}
.select-input:hover input {
  box-shadow: 0 0 0 2px rgba(0, 117, 255, 0.25) inset;
}
.select-input:focus .select-list {
  display: flex;
}
.select-input:focus input {
  box-shadow: 0 0 0 2px rgba(0, 117, 255) inset;
}
.select-input .select-list {
  cursor: default;
  display: none;
  position: absolute;
  width: 100%;
  isolation: isolate;
  top: calc(100% + 15px);
  background-color: rgba(240, 240, 240);
  padding: 5px;
  border-radius: 7px;
  gap: 5px;
  flex-direction: column;
  /* box-shadow: 0 0 0 2px rgba(0, 117, 255) inset; */
  filter: drop-shadow(0 -2px 5px rgba(30, 30, 30, 0.075));
}
.select-input .select-list::after {
  position: absolute;
  z-index: -1;
  content: '';
  width: 10px;
  height: 10px;
  top: 0;
  left: 50%;
  background-color: inherit;
  transform: translate(-50%, -50%) rotateZ(45deg);
}
.select-input .select-list span {
  cursor: pointer;
  font-size: 0.86rem;
  padding: 10px 15px;
  color: rgba(30, 30, 30, 0.5);
  font-weight: bold;
  transition: background-color 150ms, color 150ms;
  border-radius: 7px;
}
.select-input .select-list span:hover {
  background-color: rgba(30, 30, 30, 0.05);
  color: rgba(30, 30, 30);
}
body.dark-layout .select-input .select-list {
  background-color: rgba(100, 100, 100);
}
body.dark-layout .select-input .select-list span {
  color: rgba(240, 240, 240, 0.5);
}
body.dark-layout .select-input .select-list span:hover {
  color: rgba(240, 240, 240);
  background-color: rgba(240, 240, 240, 0.1);
}

.book-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: calc(100% - 40px);
}
.book-list .book-list-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(240, 240, 240);
  padding: 15px 70px 15px 50px;
  border-radius: 7px;
  transition: background-color 150ms;
  position: relative;
  cursor: pointer;
}
.book-list .book-list-content .container {
  /* display: none; */
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 350ms ease-in-out, margin-top 550ms ease-in-out,
    padding-top 350ms ease-in-out, padding-bottom 350ms ease-in-out,
    opacity 750ms;
  cursor: default;
  opacity: 0;
}
.book-list .book-list-content.book-list-open .container {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  max-height: 500px;
  margin-top: 10px;
  transition: max-height 350ms ease-in-out, margin-top 250ms ease-in-out,
    padding-top 350ms ease-in-out, padding-bottom 350ms ease-in-out,
    opacity 350ms;
  opacity: 1;
}
.book-list .book-list-content .book-chevron-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: rgba(30, 30, 30, 0.35);
  transition: transform 350ms, color 350ms;
}
.book-list .book-list-content.book-list-open .book-chevron-icon {
  transform: translateY(-50%) rotateZ(180deg);
  color: rgba(30, 30, 30, 0.75);
}
.book-list .book-list-content > button {
  position: absolute;
  right: 10px;
  top: 10px;
  height: calc(100% - 20px);
}
body.dark-layout .book-list .book-list-content .book-chevron-icon {
  color: rgba(240, 240, 240, 0.35);
}
body.dark-layout
  .book-list
  .book-list-content.book-list-open
  .book-chevron-icon {
  color: rgba(240, 240, 240, 0.75);
}
.book-list .book-list-content:hover {
  background-color: rgba(240, 240, 240, 0.65);
}
body.dark-layout .book-list .book-list-content {
  background-color: rgba(30, 30, 30, 0.5);
}
body.dark-layout .book-list .book-list-content:hover {
  background-color: rgba(30, 30, 30, 0.65);
}

.flex-inline {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-justify-end {
  justify-content: flex-end;
}
.flex-justify-between {
  justify-content: space-between;
}
.flex-align-start {
  align-items: flex-start;
}
.flex-align-end {
  align-items: flex-end;
}

.gap-5 {
  gap: 5px;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-20 {
  gap: 20px;
}

.react-tabs {
  display: flex;
  flex-direction: row;
  gap: 15px;
  height: 100%;
}
.react-tabs__tab-list {
  display: flex;
  flex-direction: column;
  width: 200px;
  flex-shrink: 0;
  list-style-type: none;
  gap: 10px;
}
.react-tabs__tab-list .react-tabs__tab {
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 7px;
  font-weight: bold;
  font-size: 0.8rem;
  color: rgba(30, 30, 30, 0.5);
  transition: background-color 350ms, color 150ms;
}
body.dark-layout .react-tabs__tab-list .react-tabs__tab {
  color: rgba(240, 240, 240, 0.5);
}
.react-tabs__tab-list .react-tabs__tab:hover {
  background-color: rgba(30, 30, 30, 0.07);
}
body.dark-layout .react-tabs__tab-list .react-tabs__tab:hover {
  background-color: rgba(240, 240, 240, 0.07);
}
.react-tabs__tab-list .react-tabs__tab--selected {
  background-color: rgba(0, 117, 255) !important;
  color: white !important;
  transition: background-color 350ms, color 150ms;
}
.react-tabs__tab-list .react-tabs__tab .span-pill {
  transition: background-color 150ms color 150ms;
}
.react-tabs__tab-list .react-tabs__tab--selected .span-pill {
  background-color: rgba(240, 240, 240);
  color: rgba(0, 117, 255);
  transition: background-color 150ms color 150ms;
}
.react-tabs__tab-list .react-tabs__tab--selected:hover {
  background-color: rgba(0, 87, 215) !important;
}
.react-tabs__tab-panel {
  display: none;
}
.react-tabs__tab-panel.react-tabs__tab-panel--selected {
  display: flex;
  width: 100%;
}

/* Animation Styling */
.fade-in {
  animation-name: fade-in;
  animation-duration: 350ms;
  opacity: 1;
}
.fade-out {
  animation-name: fade-out;
  animation-duration: 200ms;
  opacity: 0;
}
.fade-fly-in {
  animation-name: fade-fly-in;
  animation-duration: 1000ms;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-fly-in {
  0% {
    pointer-events: none;
    transform: translateY(50px);
    opacity: 0;
  }
  40% {
    transform: translateY(0);
  }
  99% {
    pointer-events: none;
  }
  100% {
    opacity: 1;
    pointer-events: unset;
  }
}

.advanced-alert {
  position: fixed;
  background-color: rgba(255, 255, 255);
  box-shadow: 0 3px 5px 1px rgba(30, 30, 30, 0.15);
  left: 50%;
  top: -125px;
  padding: 5px 10px 5px 5px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  overflow: hidden;
  transform: translateX(-50%);
  animation-name: advanced-alert;
  animation-duration: 9000ms;
  max-width: 450px;
  width: max-content;
}
.advanced-alert img {
  height: 25px;
  width: 25px;
}
.advanced-alert span.span-text {
  font-weight: bold;
  white-space: nowrap;
}
.advanced-alert.alert-primary {
  background-color: rgba(0, 117, 255);
}
.advanced-alert.alert-success {
  background-color: rgba(0, 255, 85);
}
.advanced-alert.alert-success span.span-text {
  color: rgba(30, 30, 30);
  font-weight: bolder;
}
.advanced-alert.alert-success img {
  padding: 4px;
}
.advanced-alert.alert-danger {
  background-color: rgba(255, 20, 50);
}
.advanced-alert.alert-primary span.span-text,
.advanced-alert.alert-danger span.span-text {
  color: rgba(240, 240, 240);
}
@keyframes advanced-alert {
  0% {
    top: -125%;
    max-width: 35px;
  }
  10% {
    top: 40px;
  }
  12% {
    top: 25px;
    max-width: 35px;
  }
  25% {
    max-width: 450px;
  }
  43% {
    max-width: 450px;
  }
  50% {
    max-width: 35px;
    top: 25px;
  }
  52% {
    top: 40px;
  }
  62% {
    top: -125%;
  }
  75% {
  }
  100% {
    max-width: 35px;
  }
}
